{% extends "layout.html" %}

{% block content %}

    <!-- Page to explain significance of pneumonia in the context of COVID-19 -->

    <h1 class="text-center display-4">COVID-19 and Pneumonia</h1>

    <br>
    <br>

    <h2 class="text-center display-5">What’s the Connection Between the New Coronavirus and Pneumonia?</h2>

    <br>

    <!-- HL Article - Coronavirus & Pneumonia -->
    <p style="font-size:24px;" class="text-left">"Infection with SARS-CoV-2 begins when respiratory droplets containing the virus enter your upper respiratory tract. As the virus multiplies, the infection can progress to your lungs. When this happens, it’s possible to develop pneumonia.</p>
    <br>
    <p style="font-size:24px;" class="text-left">But how does this actually happen? Typically, the oxygen you breathe into your lungs crosses into your bloodstream inside the alveoli, the small air sacs in your lungs. However, infection with SARS-CoV-2 can damage the alveoli and surrounding tissues.</p>
    <br>
    <p style="font-size:24px;" class="text-left">Further, as your immune system fights the virus, inflammation can cause fluid and dead cells to build up in your lungs. These factors interfere with the transfer of oxygen, leading to symptoms like coughing and shortness of breath.</p>
    <br>
    <p style="font-size:24px;" class="text-left">People with COVID-19 pneumonia can also go on to develop acute respiratory distress syndrome (ARDS), a progressive type of respiratory failure that occurs when the air sacs in the lungs fill up with fluid. This can make it hard to breathe."<sup>1</sup></p>

    <br>
    <br>

    <img class="rounded mx-auto d-block" style="width:1300px; width:696px;" src="https://www.bmj.com/content/bmj/370/bmj.m2426/F1.large.jpg?width=800&height=600" alt="COVID-19 Pneumonia"/>
    <div class="text-center font-italic">A Man in his 50's with COVID-19 Pneumonia<br>Source: https://www.bmj.com/content/370/bmj.m2426</div>

    <br>
    <br>
    <br>

    <!-- HL Article - Comparing COVID-19 Pneumonia -->

    <h2 class="text-center display-5">How is COVID-19 Pneumonia Different from Regular Pneumonia?</h2>
    <p style="font-size:24px;" class="text-left">"The symptoms of COVID-19 pneumonia may be similar to other types of viral pneumonia. Because of this, it can be difficult to tell what’s causing your condition without being tested for COVID-19 or other respiratory infections.</p>
    <p style="font-size:24px;" class="text-left">Research is underway to determine how COVID-19 pneumonia differs from other types of pneumonia. Information from these studies can potentially help in diagnosis and in furthering our understanding of how SARS-CoV-2 affects the lungs.</p>
    <p style="font-size:24px;" class="text-left">One study used CT scans and laboratory tests to compare the clinical features of COVID-19 pneumonia to other types of pneumonia. Researchers found that people with COVID-19 pneumonia were more likely to have:</p>

    <!-- List section -->
    <ul class="text-left">
        <li> <h5>Pneumonia that affects both lungs as opposed to just one</h5></li>
        <li> <h5>Lungs that had a characteristic “ground-glass” appearance via CT scan"<sup>2</sup></h5></li>
    </ul>

    <br>
    <br>

    <!-- References -->
    <hr style="width:75%;text-align:center;margin-left:0">

    <p>1. Jill Seladi-Schulman, PhD. Meredith Goodwin, MD, FAAFP. <a href="https://www.healthline.com/health/coronavirus-pneumonia#vs-regular-pneumonia">https://www.healthline.com/health/coronavirus-pneumonia#vs-regular-pneumonia</a></p>
    <p>2. Dahai Zhao, Feifei Yao, Lijie Wang, Ling Zheng, Yongjun Gao, Jun Ye, Feng Guo, Hui Zhao, Rongbao Gao. <a href="https://academic.oup.com/cid/article/71/15/756/5803302">https://academic.oup.com/cid/article/71/15/756/5803302</a></p>
{% endblock content %}