{% extends "layout.html" %}

{% block content %}

<!-- Resources page with links to relevant pneumonia info -->
<div class="container mt-3">
    <h1><u>Resources</u></h1>

    <br>
    <br>
    <br>
    <h4>Towards Data Science's Guide to CNN's</h4>
    <h6><a href="https://towardsdatascience.com/a-comprehensive-guide-to-convolutional-neural-networks-the-eli5-way-3bd2b1164a53">https://towardsdatascience.com/a-comprehensive-guide-to-convolutional-neural-networks-the-eli5-way-3bd2b1164a53</a></h6>

    <br>
    <hr style="width:50%;text-align:center;margin-left:0">
    <br>

    <h4>COVID 19 - CDC</h4>
    <h6><a href="https://www.cdc.gov/coronavirus/2019-ncov/index.html">https://www.cdc.gov/coronavirus/2019-ncov/index.html</a></h6>

    <br>
    <hr style="width:50%;text-align:center;margin-left:0">
    <br>

    <h4>U.S. National Library of Medicine - Pneumonia</h4>
    <h6><a href="https://medlineplus.gov/pneumonia.html">https://medlineplus.gov/pneumonia.html</a></h6>

    <br>
    <hr style="width:50%;text-align:center;margin-left:0">
    <br>

    <h4>American Lung Association</h4>
    <h6><a href="https://www.lung.org/lung-health-and-diseases/lung-disease-lookup/pneumonia/symptoms-and-diagnosis.html">https://www.lung.org/lung-health-and-diseases/lung-disease-lookup/pneumonia/symptoms-and-diagnosis.html</a></h6>
</div>
{% endblock content %}